<div class="expansion-panel">
    <div class="expansion-panel__left-panel">
        <div class="container">
            4 (custom content)
        </div>
    </div>
    <div class="expansion-panel__divider"></div>
    <div class="expansion-panel__content">
        <div class="container expansion-panel__content-container">
            <div class="expansion-panel__content-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
                <div class="expansion-panel__content-header-text">Here is header text</div>
            </div>
            <div class="expansion-panel__content-body">
                Here is hideable body
            </div>
        </div>
    </div>
</div>