@use 'abstract/colors';

.container {
  height: 100%;
  padding: 0.5em 1.25em;
}

.expansion-panel {
  background-color: colors.$primary-color;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  height: 500px;
}

.expansion-panel__left-panel {
  display: flex;
  justify-content: center;
}

.expansion-panel__divider {
  width: 1px;
  border: 1px solid black;
}

.expansion-panel__content {
  flex: 1;
  background-color: yellowgreen;
}

.expansion-panel__content-container {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
}

.expansion-panel__content-header {
  background-color: lightcoral;
  display: flex;
  gap: 2rem;
}

.expansion-panel__content-header-text {
}

.expansion-panel__content-body {
  background-color: navajowhite;
  flex: 1;
}
