<div class="http-header" *ngIf="{editedHttpSampler: editedHttpSamplersDataService.editedHttpSamplers$ | async} as editedHttpSamplersDataService">
    <div class="http-header__domain">{{ editedHttpSamplersDataService.editedHttpSampler![httpSampler?.guid!]?.domain ?? httpSampler?.domain }}</div>
    <div class="http-header__info">
        <span class="http-header__method">{{ editedHttpSamplersDataService.editedHttpSampler![httpSampler?.guid!]?.method ?? httpSampler?.method }}</span>
        <span class="http-header__endpoint">{{ editedHttpSamplersDataService.editedHttpSampler![httpSampler?.guid!]?.endpoint ?? httpSampler?.endpoint }}</span>
    </div>
</div>