<div class="scenery">
    <header class="scenery__header">
        <div class="container">
            Тестовый сценарий 1
        </div>
    </header>
    <main class="scenery__body">
        <div class="container">
            <p-accordion styleClass="scenery__elements">
                <p-accordionTab
                        *ngFor="let sampler of selectedScenery['samplerList']"
                >
                    <ng-template pTemplate="header">
                        <app-http-header [httpSampler]="sampler"></app-http-header>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <app-http-body [httpSampler]="sampler"></app-http-body>
                    </ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>
    </main>
</div>