@use 'abstract/effects';
@use 'abstract/colors';

.add-button {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 0.5em;
  gap: 0.5rem;
  @include effects.change-bg-hover();
}

.add-button:hover {
  cursor: pointer;
  background-color: colors.$hover-color;
}

.add-button__icon {
  color: colors.$additional-color;
  width: 14px;
  height: 14px;
}

.add-button__label {
  color: colors.$additional-color;
}