@use 'abstract/colors';
@use 'abstract/effects';

.scenario-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scenario-list-item {
  display: flex;
  gap: 0.5rem;
  padding: 0.625em;
  @include effects.change-bg-hover();
}

.scenario-list-item:hover {
  background-color: colors.$hover-color;
  cursor: pointer;
}