@use 'abstract/colors';

.scenery-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scenery-list-item {
  display: flex;
  gap: 0.5rem;
  padding: 0.625em;
}

.scenery-list-item:hover {
  background-color: colors.$primary-color;
  cursor: pointer;
}