html, body, #root {
    height: 100%;
    margin: 0;
}

.load-tester {
    overflow: hidden;
    height: 100%;
}

.load-tester__header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.load-tester__header-instruments {
    width: 33%;
    background: #888888;
    padding: 0.25rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.load-tester__header-run-test {
    width: 24px;
    height: 24px;
    fill: yellowgreen;
}

.container {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.load-tester__display {
    padding: 2rem 0;
    overflow-y: auto;
    background: antiquewhite;
    flex: 1;
    display: flex;
    justify-content: center;
}