@use 'abstract/colors';
@use 'layout/container';

:host {
  flex: 4;
}

.scenery {
  border-radius: 20px 0 20px  20px / 20px 0 20px 20px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  @include container.feature-container;
}

.scenery__header {
  padding: 1.1875em 0;
  background-color: colors.$primary-color;
}

.scenery__body {
  flex: 1;
  padding: 2.5em 0;
  background-color: colors.$primary-color-body;
}