@use 'abstract/colors';
@use 'layout/container';
@use 'layout/header';

:host {
  flex: 4;
}

.scenery {
  border-radius: 20px 0 20px  20px / 20px 0 20px 20px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  @include container.feature-container;
}

:host ::ng-deep .scenery__elements {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
}

.scenery__header {
  @include header.header;
  font-weight: 600;
}

.scenery__http-left-panel {
  font-size: 2.5rem;
}

.scenery__body {
  overflow: auto;
  flex: 1;
  padding: 2.5em 0;
  background-color: colors.$primary-color-body;
}